<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjlab.dataservice.modules.tc.mapper.TcTaskManagerMapper">

    <sql id="selectFields">
        t.id AS taskId,
        t.task_name AS taskName,
        t.task_code AS taskCode,
        t.template_id AS templateId,
        tt.template_name AS templateName,
        t.satellites AS satellites,
        t.create_time AS createTime,
        t.status AS status
    </sql>

    <sql id="whereCommon">
        t.del_flag = 0
        <if test="query.q != null and query.q != ''">
            AND (t.task_name LIKE CONCAT('%', #{query.q}, '%') OR t.task_code LIKE CONCAT('%', #{query.q}, '%'))
        </if>
        <if test="query.status != null">
            AND t.status = #{query.status}
        </if>
        <if test="query.templateId != null">
            AND t.template_id = #{query.templateId}
        </if>
        <if test="query.startTimeFrom != null">
            AND t.create_time &gt;= #{query.startTimeFrom}
        </if>
    </sql>

    <select id="selectTaskList" resultType="com.zjlab.dataservice.modules.tc.model.vo.TaskManagerListItemVO">
        SELECT
        <include refid="selectFields"/>
        FROM (
            SELECT t.*
            FROM tc_task t
            <if test="query.tab == 'todo' or query.tab == 'participated' or query.tab == 'handled'">
                JOIN tc_task_work_item wi ON wi.task_id = t.id
            </if>
            WHERE
            <include refid="whereCommon"/>
            <if test="query.tab == 'startedByMe'">
                AND t.create_by = #{query.userId}
            </if>
            <if test="query.tab == 'todo'">
                AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId} AND wi.phase_status = 1
            </if>
            <if test="query.tab == 'participated'">
                AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId} AND wi.phase_status = 0
            </if>
            <if test="query.tab == 'handled'">
                AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId}
                AND wi.phase_status IN (2,4)
            </if>
            ORDER BY t.create_time DESC
            LIMIT #{query.offset}, #{query.pageSize}
        ) t
        LEFT JOIN tc_todo_template tt ON tt.template_id = t.template_id
    </select>

    <select id="countTaskList" resultType="long">
        SELECT
        <choose>
            <when test="query.tab == 'todo' or query.tab == 'participated' or query.tab == 'handled'">
                COUNT(DISTINCT t.id)
            </when>
            <otherwise>
                COUNT(1)
            </otherwise>
        </choose>
        FROM tc_task t
        <if test="query.tab == 'todo' or query.tab == 'participated' or query.tab == 'handled'">
            JOIN tc_task_work_item wi ON wi.task_id = t.id
        </if>
        WHERE
        <include refid="whereCommon"/>
        <if test="query.tab == 'startedByMe'">
            AND t.create_by = #{query.userId}
        </if>
        <if test="query.tab == 'todo'">
            AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId} AND wi.phase_status = 1
        </if>
        <if test="query.tab == 'participated'">
            AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId} AND wi.phase_status = 0
        </if>
        <if test="query.tab == 'handled'">
            AND wi.del_flag = 0 AND wi.assignee_id = #{query.userId}
            AND wi.phase_status IN (2,4)
        </if>
    </select>

    <select id="selectCurrentNodes" resultType="com.zjlab.dataservice.modules.tc.model.dto.CurrentNodeRow">
        SELECT
            ni.task_id AS taskId,
            ni.id AS nodeInstId,
            ninfo.name AS nodeName,
            ni.handler_role_ids AS handlerRoleIds
        FROM tc_task_node_inst ni
        JOIN tc_node_info ninfo ON ninfo.id = ni.node_id
        WHERE ni.del_flag = 0 AND ni.status = 1
          AND ni.task_id IN
            <foreach collection="taskIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        ORDER BY ni.task_id, ni.order_no, ni.id
    </select>

</mapper>
