<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjlab.dataservice.modules.tc.mapper.TodoTemplateMapper">
    <resultMap id="TodoTemplateResultMap" type="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="templateId" column="template_id"/>
        <result property="templateType" column="template_type"/>
        <result property="templateName" column="template_name"/>
        <result property="flag" column="flag"/>
        <result property="remark" column="remark"/>
        <!-- 这里用 JacksonTypeHandler -->
        <result property="templateAttr" column="template_attr"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="corpId" column="corp_id"/>
        <result property="agentId" column="agent_id"/>
        <result property="ext" column="ext"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="filePath" column="file_path"/>
    </resultMap>
<!--    <select id="selectTodoTemplatePage" resultType="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate">-->
<!--        SELECT-->
<!--        id,-->
<!--        code,-->
<!--        template_id,-->
<!--        template_type,-->
<!--        template_name,-->
<!--        flag,-->
<!--        remark,-->
<!--        template_attr AS template_attr,-->
<!--        corp_id,-->
<!--        agent_id,-->
<!--        ext,-->
<!--        create_by,-->
<!--        create_time,-->
<!--        update_by,-->
<!--        update_time,-->
<!--        file_path-->
<!--        FROM-->
<!--        tc_todo_template-->
<!--        WHERE-->
<!--        del_flag = 0-->

<!--        <if test="request.keyword != null and request.keyword != ''">-->
<!--            AND (template_name LIKE CONCAT('%', #{request.keyword}, '%')-->
<!--            OR remark LIKE CONCAT('%', #{request.keyword}, '%'))-->
<!--        </if>-->

<!--        <if test="request.flag != null">-->
<!--            AND flag = #{request.flag}-->
<!--        </if>-->

<!--        <choose>-->
<!--            <when test="request.orderByField != null and request.orderByField != ''">-->
<!--                ORDER BY-->
<!--                ${request.orderByField}-->
<!--                <choose>-->
<!--                    <when test="request.orderByType != null and request.orderByType.toLowerCase() == 'asc'">-->
<!--                        ASC-->
<!--                    </when>-->
<!--                    <otherwise>-->
<!--                        DESC-->
<!--                    </otherwise>-->
<!--                </choose>-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                ORDER BY update_time DESC-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--    </select>-->

    <select id="selectTodoTemplatePage" resultMap="TodoTemplateResultMap">
        SELECT * FROM tc_todo_template
        WHERE
        del_flag = 0

        <if test="request.keyword != null and request.keyword != ''">
            AND (template_name LIKE CONCAT('%', #{request.keyword}, '%')
            OR remark LIKE CONCAT('%', #{request.keyword}, '%'))
        </if>

        <if test="request.flag != null">
            AND flag = #{request.flag}
        </if>

        <choose>
            <when test="request.orderByField != null and request.orderByField != ''">
                ORDER BY
                ${request.orderByField}
                <choose>
                    <when test="request.orderByType != null and request.orderByType.toLowerCase() == 'asc'">
                        ASC
                    </when>
                    <otherwise>
                        DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY update_time DESC
            </otherwise>
        </choose>
    </select>


    <select id="selectOneByTemplate" resultType="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate" parameterType="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate">
        SELECT id, code, template_id, template_type, template_name, flag, remark, template_attr, corp_id, agent_id
        FROM tc_todo_template
        where del_flag = 0
        <if test="templateName != null and templateName != ''">
            and template_name = #{templateName}
        </if>
        <if test="templateType != null and templateType != ''">
            and template_type = #{templateType}
        </if>
        <if test="templateId != null and templateId != ''">
            and template_id = #{templateId}
        </if>
        <if test="code != null and code != ''">
            and code = #{code}
        </if>
        <if test="createBy != null and createBy != ''">
            and create_by = #{createBy}
        </if>
        <if test="corpId != null and corpId != ''">
            and corp_id = #{corpId}
        </if>
        <if test="agentId != null and agentId != ''">
            and agent_id = #{agentId}
        </if>
        order by id desc
        limit 1
    </select>

    <insert id="insert" parameterType="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate">
        INSERT INTO tc_todo_template
        (code, template_id, template_name, template_type, template_attr, remark,
         corp_id, agent_id, flag, tenant_id, del_flag, create_by, create_time, update_by, update_time, ext,file_path)
        VALUES
            (#{code},
             #{templateId},
             #{templateName},
             #{templateType},
             #{attrsJson,jdbcType=VARCHAR},
             #{remark},
             #{corpId},
             #{agentId},
             #{flag,jdbcType=INTEGER},
             #{tenantId,jdbcType=INTEGER},
             #{delFlag,jdbcType=BOOLEAN},
             #{createBy},
             #{createTime},
             #{updateBy},
             #{updateTime},
             #{ext},
             #{filePath});
    </insert>

    <update id="updateTodoTemplate" parameterType="com.zjlab.dataservice.modules.tc.model.entity.TodoTemplate">
        UPDATE tc_todo_template
        SET code = #{code},
            template_id = #{templateId},
            template_name = #{templateName},
            template_type = #{templateType},
            template_attr = #{attrsJson,jdbcType=VARCHAR},
            remark = #{remark},
            corp_id = #{corpId},
            agent_id = #{agentId},
            flag = #{flag,jdbcType=INTEGER},
            tenant_id = #{tenantId,jdbcType=INTEGER},
            del_flag = #{delFlag,jdbcType=BOOLEAN},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            ext = #{ext},
            file_path = #{filePath},
            file_path_old = #{filePathOld}
        WHERE id = #{id}
    </update>

    <select id="selectTodoTemplateDetail"
            parameterType="long"
            resultMap="TodoTemplateResultMap">
        SELECT * FROM tc_todo_template
        WHERE del_flag = 0
          AND id = #{id}
    </select>

</mapper>
