<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjlab.dataservice.modules.tc.mapper.TodoEventMapper">

    <select id="selectTodoEventPage" resultType="com.zjlab.dataservice.modules.tc.model.dto.TodoEventDto">
        select id, to_user_name, from_user_name, create_time, event_id,
               event_type, event, agent_id, create_time_ds, flag
        from tc_todo_event
        ORDER BY create_time desc
    </select>
</mapper>
